* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', 'Open Sans', san-serif;
}

p {
  color: $white;
}

body {
  background-color: $black;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
	font-weight: 300;
}

a {
  color: $white;
  font-size: .75em;
  margin-left: 1em;
  text-decoration: none;
}

.main_header {
  background-color: $black;
  padding: 1.5em 0;
  position: relative;
  text-align: center;
}

.header {
  width: 100%;
  &__membership {
    padding-top: 2em;
    width: 23.23176%;
    float: left;
  }

  &__company-name {
    float: left;
    display: block;
    margin-left: 2%;
    width: 48.82117%;
    text-align: center;

    h1 {
      a {
        color: $white;
        font-size: 1.3em;
        letter-spacing: 0.4em;
        text-decoration: none;
      }
    }
  }

  &__nav-list {
    float: left;
    display: block;
    width: 23.23176%;
    padding-top: 2em;
  }
}

// Social Media footer
.social-media {
  padding-top: 1em;

  &__wrapper {
    text-align: center;
  }

  img {
    width: 50px;
  }

  a {
    margin-left: .5em;
  }

  .contact-info {
    text-align: center;

    &__email {
      font-size: 1.3em;  
    }
  }
}
