* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', 'Open Sans', san-serif;
}

p {
  color: $white;
}

body {
  background-color: $black;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
	font-weight: 300;
}

a {
  color: $white;
  font-size: .75em;
  margin-left: 1em;
  text-decoration: none;
}
