.welcome-page {
  @include show-grid(layout($susy $susy-debug));

  @include phone {
    @include show-grid(layout($susy-phone $susy-debug));

    &:before {
      content: 'phone layout' !important;
    }
  }

  .carousel {
    padding: 0 30px 30px 30px;

    &-inner {
      height: 500px;
    }

    &-control {
      background-color: $black;
      background-image: none;

      @include phone {
        display: none;
      }
    }

    &-image {
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;
        overflow: hidden;
        max-height: 500px;
      }
    }
  }

  .hero-page {
    @include container;

    @include phone {
      text-align: center;
      padding-bottom: 3em;
    }

    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 5em;

    &__profile--image {
      @include phone {
        display: block;
      }

      display: table-cell;

      img {
        @include phone {
          max-width: 300px;

          border-radius: 100%;
        }

        border-radius: .5em;
      }
    }

    &__profile--description {
      @include phone {
        display: block;
        width: inherit;
      }

      display: table-cell;
      vertical-align: top;
      width: 50%;
    }
  }

  .profile {
    padding: 1.5em 0;
    text-align: center;

    &__name {
      letter-spacing: .1em;
      font-size: 2em;
      margin-bottom: .5em;
    }

    &__tag {
      color: $highlight;
    }

    &__description {
      padding: 0 2em;
    }
  }

  .promo-video {
    padding: 1.5em 0;
    text-align: center;

    iframe {
      width: 80%;
      box-shadow: 0px 0px 5px 2px white;
      border: none;
    }
  }

  .services {
    @include phone {
      padding: 3rem 0;
    }
    @include position(relative);

    background: $gray;
    border-bottom: 1px solid #E9E9E9;
    padding: 3rem 1em 7.5rem;

    h2, h3, h4, p {
      color: $black;
    }

    &__title {
      text-align: center;
      color: $red;
      font-weight: $bold;
      margin: 0 0 1em;
    }

    .service {
      @include phone {
        display: block;
        float: none;
        margin: 0 2em 1em;
        width: inherit;
      }

      @include position(relative);

      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      align-items: center;
      background: white;
      border-radius: .5em;
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      color: black;
      display: flex;
      flex-direction: column;
      float: left;
      height: 300px;
      justify-content: center;
      margin: 0 1% 0 1%;
      padding: 1.5em 0;
      text-align: center;
      width: 23%;

      &__button {
        margin-top: 20px;
        a {
          font-size: 1em;
          padding: 1em 2em;
        }
      }

      h2 {
        font-weight: $bold;
      }

      p {
        margin: 0 0 2rem 0;
      }

      img {
        width: 7em;
        height: 100px;
      }
    }
  }

  .client {
    @include container;
    @include phone {
      padding: .5em 0;
    }

    border-bottom: 1px solid #E9E9E9;
    padding: 5rem 0 5rem 0;


    &__description {
      @include phone {
        @include span(full);
      }

      @include span(6 of 12);

      padding: 2em 0;
      text-align: center;

      &--title {
        font-weight: $bold;
      }

      &--info {
        margin: 10px auto 40px;
      }
    }

    &__image {
      @include phone {
        @include span(full);
      }

      @include span(6 of 12 last);

      text-align: center;

      img {
        @include phone {
          max-width: 300px;

          border-radius: 100%;
        }

        border-radius: .5em;
      }
    }
  }

  .learn-more {
    &:hover {
      background-color: $highlight-green;
    }
  }

  .contact {
    @include container;
    padding: 5rem 0 2rem 0;

    &__form {
      @include phone {
        @include span(full);
      }

      @include span(6 of 12);
      text-align: center;

      .form-group {
        padding-bottom: 1.5em;
      }

      .new_contact {
        background: $gray;
        margin: 0 auto;
        max-width: 500px;
        padding: 2em 2em 4em;

        img {
          margin-bottom: 1.5em;
        }
      }

      label {
        color: $black;
      }

      input {
        -ms-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        background: transparent;
        border: solid 1px #b3aca7;
        color: #726659;
        font-size: 0.9em;
        height: 50px;
        max-width: 90%;
        outline: none;
        padding: 0px 15px 0px 15px;
        transition: all 0.3s ease-in-out;
        width: 470px;
      }

      input:hover {
        background: $highlight-green;
        color: #e2dedb;
      }

      textarea {
        width: 470px;
        max-width: 90%;
        height: 110px;
        max-height: 110px;
        padding: 15px;

        background: transparent;
        outline: none;

        color: #726659;
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;

        border: solid 1px #b3aca7;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
      }

      textarea:hover {
        background: $highlight-green;
        color: #e2dedb;
      }

      #submit_btn {
        width: 470px;
        max-width: 90%;

        padding: 0;
        margin: -5px 0px 0px 0px;

        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        color: #b3aca7;

        outline:none;
        cursor: pointer;

        border: solid 1px #b3aca7;

        &:hover {
          color: #e2dedb;
        }
      }
    }

    &__details {
      @include phone {
        @include span(full);
      }

      @include span(6 of 12 last);

      .detail {
        &__question {
          .question-header {
            text-transform: uppercase;
          }
        }

        &__image {
          @include phone {
            padding: 0 2em;
          }
        }

        &__address {
          &--physical {

          }
          &--online {

          }
        }
      }

      iframe {
        height: 500px;
        width: 100%;
      }
    }
  }
}
