.welcome-page {
  @include show-grid(layout($susy $susy-debug));
  @include container;

  @include phone {
    @include show-grid(layout($susy-phone $susy-debug));

    &:before {
      content: 'phone layout' !important;
    }
  }

  .hero-page {
    @include phone {
      text-align: center;
    }

    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 5em;

    &__profile--image {
      @include phone {
        display: block;
      }

      display: table-cell;

      img {
        @include phone {
          max-width: 300px;

          border-radius: 100%;
        }

        border-radius: .5em;
      }
    }

    &__profile--description {
      @include phone {
        display: block;
        width: inherit;
      }

      display: table-cell;
      vertical-align: top;
      width: 50%;
    }
  }

  .profile {
    padding: 1.5em 0;
    text-align: center;

    &__name {
      letter-spacing: .1em;
      font-size: 2em;
      margin-bottom: .5em;
    }

    &__tag {
      color: $highlight;
    }

    &__description {
      padding: 0 2em;
    }
  }

  .promo-video {
    padding: 1.5em 0;
    text-align: center;

    iframe {
      width: 80%;
      box-shadow: 0px 0px 5px 2px white;
      border: none;
    }
  }

  .services {
    @include position(relative);

    background: $gray;
    border-bottom: 1px solid #E9E9E9;
    padding: 3rem 0 7.5rem 0;
    text-align: center;

    h1, h2, h3, h4, p {
      color: $black;
    }

    &__title {
      font-weight: $bold;
      margin: 0 0 1em;
    }

    .service {
      @include position(relative);

      -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
      background: white;
      border-radius: .5em;
      float: left;
      height: 300px;
      margin: 0 1% 0 1%;
      padding: 1.5em 0;
      text-align: center;
      width: 23%;

      &__button {
        a {
          @include position(absolute, null null 15% 50%);

          transform: translateX(-50%);
        }
      }

      h2 {
        font-weight: $bold;
      }

      p {
        margin: 0 0 2rem 0;
      }

      img {
        width: 7em;
        height: 100px;
      }

      &:after {
        content: " ";
        @include position(absolute, null null -50px 50%);

        height: 50px;
        border-left: 2px solid #c9c7d3;
      }
    }

    &:before {
      content: " ";
      @include position(absolute, null null 70px 50%);

      border-top: 2px solid #c9c7d3;
      margin-left: -37.5%;
      width: 75.2%;
    }
  }

  .client {
    background: $dark_gray;
    border-bottom: 1px solid #E9E9E9;
    padding: 5rem 0 5rem 0;


    &__description {
      text-align: center;

      &--title {
        font-weight: $bold;
      }

      &--info {
        margin: 10px auto 40px;
      }
    }

    &__image {
      img {
        @include phone {
          max-width: 300px;

          border-radius: 100%;
        }

        border-radius: .5em;
      }
    }
  }

  .learn-more {
    &:hover {
      background-color: $highlight-green;
    }
  }

  .contact {
    border-bottom: 1px solid #E9E9E9;
    padding: 5rem 0 2rem 0;

    &__form {
      float: left;
      text-align: center;
      width: 50%;

      .form-group {
        padding-bottom: 1.5em;
      }

      .new_contact {
        background: $gray;
        margin: 0 auto;
        max-width: 500px;
        padding: 2em 2em 4em;

        img {
          margin-bottom: 1.5em;
        }
      }

      label {
        color: $black;
      }

      input {
        -ms-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;

        background: transparent;
        border: solid 1px #b3aca7;
        color: #726659;
        font-size: 0.9em;
        height: 50px;
        max-width: 90%;
        outline: none;
        padding: 0px 15px 0px 15px;
        transition: all 0.3s ease-in-out;
        width: 470px;
      }

      input:hover {
        background: $highlight-green;
        color: #e2dedb;
      }

      textarea {
        width: 470px;
        max-width: 90%;
        height: 110px;
        max-height: 110px;
        padding: 15px;

        background: transparent;
        outline: none;

        color: #726659;
        font-family: 'Lato', sans-serif;
        font-size: 0.875em;

        border: solid 1px #b3aca7;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
      }

      textarea:hover {
        background: $highlight-green;
        color: #e2dedb;
      }

      #submit_btn {
        width: 470px;
        max-width: 90%;

        padding: 0;
        margin: -5px 0px 0px 0px;

        font-family: 'Lato', sans-serif;
        font-size: 0.875em;
        color: #b3aca7;

        outline:none;
        cursor: pointer;

        border: solid 1px #b3aca7;

        &:hover {
          color: #e2dedb;
        }
      }
    }

    &__details {
      float: left;
      width: 50%;

      .detail {
        &__question {
          .question-header {
            text-transform: uppercase;
          }
        }
        &__address {
          &--physical {

          }
          &--online {

          }
        }
      }
    }
  }
}
