<div class="service">
  <%= image_tag(item.image, class: "service__img") %>

  <h2><%= item.title %></h2>

  <div class="service__button">
    <%= link_to 'Learn more', service_path(item), class:"button" %>
  </div>
</div>
