// Social Media footer
.oc-footer {
  @include container;
  padding-top: 1em;

  &__social-media {
    @include span(full);
    text-align: center;

    img {
      width: 50px;
    }
  }

  &__contact {
    @include phone {
      @include span(full);
    }

    @include span(6 of 12);

    padding: 20px;
  }

  &__contact-info {
    @include phone {
      text-align: center;
    }

    margin-bottom: 20px;
  }

  &__maps {
    @include phone {
      @include span(full);
    }

    @include span(6 of 12 last);

    padding: 20px;
  }

  &__map {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    margin-left: .5em;
  }

  .contact-info {
    text-align: center;

    &__email {
      font-size: 1.3em;
    }
  }
}
