.hidden {
  display: none;
}

.button {
  background-color: #333;
  border: none;
  outline: none;
  padding: .6rem 3.5rem;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-align: center;

  &--highlight {
    background: $highlight-green;
  }

  &--secondary {
    background: rgba(250, 250, 250, 0.35);
  }

  &--small {
    padding: .3rem 1.5rem;
  }

  &--large {
    padding: 1rem 5rem;
    font-size: 1.35rem;
  }
}
