.main_header {
  @include phone {
    padding: 0 0 2em;
  }

  background-color: $black;
  padding: 0 0 3.5em;
  position: relative;
}

.header {
  width: 100%;
  @include container;

  &__info {
    background-color: $true-black;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }

  &__secondary {
    @include phone {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
    }
  }

  &__social-media {
    .icon {
      color: white;
    }
  }

  &__company-name {
    display: block;
    text-align: center;

    h1 {
    @include phone {
      margin: 0;
    }

      a {
        @include phone {
          font-size: .5em;
        }

        color: $white;
        font-size: 1.5em;
        letter-spacing: 0.4em;
        text-decoration: none;
      }
    }
  }

  &__nav-list {
    @include phone {
      display: none;
      float: right;
    }

    display: block;
    text-align: center;

    a {
      margin-right: 1em;

      &:hover {
        color: $highlight;
      }
    }

    &.active {
      @include phone {
        display: block;
        width: 100%;

        a {
          border-bottom: 1px solid $gray;
          display: block;
          padding: 1em 0;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  &__nav-list-hamburger {
    @include phone {
      display: block;
      padding-top: .5em;
  		float: right;

  		i {
  			font-size: 2.5em;
        color: $white;
  		}
    }

    display: none;
  }
}
