// variables

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$white: #FFFFFF;
$yellow: #F0DC2F;
$blue: #8BC6DB;
$gray: #f2f1f8;
$black: #000000;
$highlight-green: #7ac483;
$dark_gray: #3f3d4e;

$regular: 300;
$bold: 700;



html, body {
  font-family: 'Open Sans', sans-serif;
}
